# Configuration file for [Coverage.py](https://coverage.readthedocs.io/en/stable/index.html)
[run]
branch = True
omit = */visualization/*

[report]
skip_empty = True

[html]
directory = coverage_html_report