# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit tests / coverage reports
htmlcov/
coverage_html_report/
.coverage
.coverage.*

# Sphinx documentation
docs/build/

# Visual Studio Code
.vscode/